@font-face {
  font-family: "toutiao"; /* Project id 3216888 */
  src: url('//at.alicdn.com/t/font_3216888_4a77h1brwpi.woff2?t=1647491827395') format('woff2'),
       url('//at.alicdn.com/t/font_3216888_4a77h1brwpi.woff?t=1647491827395') format('woff'),
       url('//at.alicdn.com/t/font_3216888_4a77h1brwpi.ttf?t=1647491827395') format('truetype');
}

.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toutiao-dianzan1:before {
  content: "\e621";
}

.toutiao-dianzan3:before {
  content: "\e673";
}

.toutiao-dianzan4:before {
  content: "\e656";
}

.toutiao-shoucang1:before {
  content: "\e86d";
}

.toutiao-shoucangxiao:before {
  content: "\e8bc";
}

.toutiao-shoucang-shoucang:before {
  content: "\e618";
}

.toutiao-dianzan_kuai:before {
  content: "\ec8c";
}

.toutiao-dianzan5:before {
  content: "\e619";
}

.toutiao-dianzan6:before {
  content: "\e61c";
}

.toutiao-dianzan7:before {
  content: "\e8c3";
}

.toutiao-shoucang2:before {
  content: "\e8c6";
}

.toutiao-shanchuwenjian:before {
  content: "\e68d";
}

.toutiao-shanchu1:before {
  content: "\e690";
}

.toutiao-shanchu11:before {
  content: "\e691";
}

.toutiao-shibai:before {
  content: "\e695";
}

.toutiao-weibiaoti6:before {
  content: "\e696";
}

.toutiao-changyonggoupiaorenshanchu:before {
  content: "\e69b";
}

.toutiao-shibai1:before {
  content: "\e69c";
}

.toutiao-shibai2:before {
  content: "\e69d";
}

.toutiao-shibai3:before {
  content: "\e6a1";
}

.toutiao-shanchu2:before {
  content: "\e6a2";
}

.toutiao-jiahao:before {
  content: "\e616";
}

.toutiao-jiahao1:before {
  content: "\e617";
}

.toutiao-jiahao2:before {
  content: "\eaf3";
}

.toutiao-guanbi1:before {
  content: "\e600";
}

.toutiao-guanbi2:before {
  content: "\e725";
}

.toutiao-guanbixiao:before {
  content: "\e8bb";
}

.toutiao-guanbishixin:before {
  content: "\e8dc";
}

.toutiao-dianzan2:before {
  content: "\e601";
}

.toutiao-dianzan:before {
  content: "\e602";
}

.toutiao-pinglun:before {
  content: "\e603";
}

.toutiao-shipin:before {
  content: "\e604";
}

.toutiao-guanbi:before {
  content: "\e605";
}

.toutiao-gengduo:before {
  content: "\e606";
}

.toutiao-wenda:before {
  content: "\e607";
}

.toutiao-fenxiang:before {
  content: "\e608";
}

.toutiao-wuwangluo:before {
  content: "\e609";
}

.toutiao-shouye:before {
  content: "\e60a";
}

.toutiao-shanchu:before {
  content: "\e60b";
}

.toutiao-zuopin:before {
  content: "\e60c";
}

.toutiao-lishi:before {
  content: "\e60d";
}

.toutiao-shouji:before {
  content: "\e60e";
}

.toutiao-shoucang:before {
  content: "\e60f";
}

.toutiao-youjiantou:before {
  content: "\e610";
}

.toutiao-sousuo:before {
  content: "\e611";
}

.toutiao-yuedu:before {
  content: "\e612";
}

.toutiao-yanzhengma:before {
  content: "\e613";
}

.toutiao-zuojiantou:before {
  content: "\e614";
}

.toutiao-wode:before {
  content: "\e615";
}

